<h1>
  User Registration
</h1>

<%= form_tag signup_path do %>
  <div class="group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="group">
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, params[:first_name] %>
  </div>

  <div class="group">
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, params[:last_name] %>
  </div>

  <div class="group">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="group">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>

  <%= submit_tag 'Signup' %>
<% end %>