<!DOCTYPE html>
<html>
  <head>
    <title>Listy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <% if current_user %>
          <%= link_to 'Profile', profile_path %>
          |
          <%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </nav>

      <% [:alert, :notice].each do |key| %>
        <% if flash[key].present? %>
          <div class="flash-<%= key %>">
            <% if flash[key].kind_of?(Array) %>
              <ol>
                <% flash[key].each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ol>
            <% else %>
              <%= flash[key] %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
